<?xml version="1.0" ?>
<model>
  <name>micro_drone</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Kate Voronina</name>
    <email>meowchine111@gmail.com</email>
  </author>
  <description>Micro drone (20×20×5 cm) with camera and PX4 motor plugins</description>
</model>
